.post-list-title{
    font-family: "Untitled Sans", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--text-bold);
    text-decoration: none;
}

.post-list-body {
    border: 2px solid var(--theme-color);
    border-radius: 0px;
    background-color: var(--bg);
    top: 0;
    position: relative;
    transition: top ease 0.3s;
    margin-top: 15px;
    margin-bottom: 8px;
    box-shadow:
    4.2px 3.7px 2.7px rgba(0,0,0, 0.011),
    8.6px 7.6px 6.9px rgba(0,0,0, 0.021),
    13.9px 12.3px 14.2px rgba(0,0,0, 0.031),
    23px 20.4px 29.2px rgba(0,0,0, 0.011),
    52px 46px 80px rgba(0,0,0, 0.06);

}

.post-list-body:hover{
    top: -5px;
}

.post-list-summary {
    margin-left: 0px;
    margin-right: 0px;
    font-size: 1.1rem;
}

.post-list-readingtime {
    text-align: end;
    font-size: .9rem;
    font-style: italic;
}


// Blog Itself

.blog-title {
    font-family: "Untitled Sans", sans-serif;
    font-weight: 700;
    color: var(--text-bold);
}

.blog-date {
    color: var(--bg);
    background-color: var(--theme-color);
    padding-left: 2px;
    padding-right: 2px;
}

.reading-time-blog {
    color: var(--text-faded);
    font-style: italic;
    font-weight: 300;
    font-size: 1rem;
}

.deckgo-highlight-code-carbon{
    font-size: 1.1rem;
}

.blog-notice-yellow {
    background-color: var(--notice-bg);
    padding: 20px;
    border-radius: 10px;
    box-shadow:
    3.3px 3px 2.2px rgba(0, 0, 0, 0.021),
    7px 6.4px 6px rgba(0, 0, 0, 0.03),
    12.7px 11.6px 14.5px rgba(0, 0, 0, 0.039),
    33px 30px 48px rgba(0, 0, 0, 0.06);

}
